body {
  font-size: 16px;
  font-family: "Oygxen", sans-serif;
  color: #fff;
  background-color: #61122f;
}
#haeder-navbar {
  background-color: #f6b319;
}
.navbar-brand img {
  width: 150px;
  height: 150px;
}
